:root {
  --color-text: #3b343b;
  --color-text-light: #797279;
  --bg-color2: #f5f5f5;
  --bg-color: #dde3ee;
  --border-color: #9e9ea7;
  --white: #feffff;
  --shadow-color: 0deg 0% 76%;
  --shadow-elevation-medium:
    0.3px 0.4px 0.7px hsl(var(--shadow-color) / 0.09),
    0.9px 1.5px 2.3px -0.4px hsl(var(--shadow-color) / 0.14),
    1.8px 3.1px 4.7px -0.8px hsl(var(--shadow-color) / 0.19),
    3.9px 6.8px 10.3px -1.2px hsl(var(--shadow-color) / 0.24);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  color: var(--color-text);
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
}

.container {
  width: 1100px;
  margin: 24px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.logo-div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  width: 70px;
}

.logo-text {
  width: 140px;
}

.header-right {
  display: flex;
  gap: 24px;
}

.location {
  background-color: var(--white);
  border-radius: 24px;
  padding: 8px 24px;
  padding-left: 12px;
  display: flex;
  gap: 8px;
  border: 1px solid var(--border-color);
}

.location-icon {
  width: 20px;
}

.location-text {
  font-size: 18px;
  color: var(--color-text);
}

.search-container {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.search {
  width: 300px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-right: 2.5rem;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  outline: none;
  background-color: var(--white);
  color: var(--color-text);
  transition: 0.3s ease;
}

.search::placeholder {
  color: var(--border-color);
}

.search:focus,
search:hover {
  outline: none;
  border-color: rgba(3, 43, 86, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(0, 19, 73, 0.1);
}

.search-btn {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.icon {
  fill: var(--border-color);
  width: 1rem;
  height: 1rem;
}

.temperature-info {
  color: #fff;
  background-image: url("img/partly-cloudy-day.jpg");
  box-shadow: inset 0 0 0 2000px rgba(57, 23, 49, 0.3);
  background-size: cover;
  border-radius: 16px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-shadow: 1px 1px 4px rgba(48, 34, 48, 0.5);
}

.error {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.temp-info-row1 {
  display: flex;
  justify-content: space-between;
}

.temp-info-row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.description {
  font-size: 18px;
}

.temp-info-right {
  display: flex;
  gap: 8px;
}

.conditions {
  font-size: 24px;
}

.temperature {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 4px;
}

.temp-feels-like {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.celsius-btn,
.fahrenheit-btn {
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
}

.active-btn {
  background-color: #fff;
}

.more-info {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.info-div {
  background-color: var(--white);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: var(--shadow-elevation-medium);
}

.info-div > div {
  display: flex;
  gap: 8px;
}

.info-desc {
  color: var(--color-text-light);
  font-size: 18px;
}

.info-value {
  font-size: 40px;
  font-weight: 500;
}

.copyright {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.copyright img {
  width: 25px;
  transition: all 0.3s ease-in-out 0s;
}

.copyright img:hover {
  transform: rotate(360deg);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(img/close-btn.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

.loader {
  position: absolute;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;

  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.invisible {
  display: none;
}


